@charset "UTF-8";
#parent{
		height: 300px;
		width: 450px;
		border: 1px solid #b2bdb5;
		//background-color: #b2bdb5;
		margin-left: 350px;
		margin-top: 50px;
		}
	#city{
		font-weight: bold;
		//color: #b2bdb5;
		//font-style:italic;
		font-size: 50px;
		line-height: 50px;
		margin-top: 0px;
		margin-left: 0px;
		margin-bottom: 20px;
		padding: 0px;
	}
	#description{
		//font-style:italic;
		//color: #b2bdb5;
		font-size: 30px;
		line-height: 0px;
		margin-top: 0px;
		padding: 0px;
	}
	#pic{
		height: 100px;
		float: left;
		width: 100px;
	}
	#temp{
		height: 100px;
		width: 100px;
		float:left;
	}
	#pht{
		height: 100px;
		width: 100px;
		float:left;
	}

	span{
		font-size: 70px;
	}
    p{
    	color: #b2beb5;
    }
